CONFIG_64BIT=y
CONFIG_EMBEDDED=n
#enable initrd GZipped
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=y
#in order to build out of tree loadable addons
CONFIG_MODULES=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
#usefull
CONFIG_SYSCTL=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_PRINTK=y
CONFIG_POWER_SUPPLY=y
CONFIG_ARCH_RANDOM=y
CONFIG_HW_RANDOM=m
CONFIG_IRQCHIP=y
CONFIG_NVMEM=y
CONFIG_NVMEM_SYSFS=y
CONFIG_LIBFDT=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_FILE_LOCKING=y
CONFIG_OVERLAY_FS=y
#hotplug
CONFIG_UEVENT_HELPER=y
CONFIG_DEVTMPFS=y
CONFIG_FW_LOADER=m
CONFIG_INPUT_EVDEV=m
#device tree
CONFIG_DTC=y
CONFIG_OF=y
CONFIG_OF_OVERLAY=y
#what if NO?
CONFIG_ELF_CORE=y
CONFIG_BINFMT_ELF=y
CONFIG_ELFCORE=y
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=y
CONFIG_BINFMT_SCRIPT=y
#we do not care about size but we need all symbols and debug
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y
CONFIG_KALLSYMS_BASE_RELATIVE=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_STRICT_MODULE_RWX=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_DEBUG_INFO=y
CONFIG_GDB_SCRIPTS=y
CONFIG_DEBUG_KERNEL=y
CONFIG_STACKTRACE=y
CONFIG_CRASH_DUMP=y
CONFIG_COREDUMP=y
CONFIG_KPROBES=y

#this helps to skip stepping into each interrupt while stepping
#through debugged code.
CONFIG_X86_X2APIC=y

#disable not needed defauts
CONFIG_INPUT_MOUSE=n

#memory allocator. take it easy
CONFIG_SLOB=y
CONFIG_COMPAT_BRK=y
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=n
CONFIG_INIT_ON_FREE_DEFAULT_ON=n
CONFIG_RELOCATABLE=n
CONFIG_FRAME_POINTER=y
CONFIG_UNWINDER_FRAME_POINTER=y
#qemu boosters
CONFIG_HYPERVISOR_GUEST=y
CONFIG_PARAVIRT=y
CONFIG_KVM_GUEST=y

#base network support and dependency for 9p
CONFIG_NET=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_INET=y
CONFIG_IPV6=n
CONFIG_GENERIC_PHY=y

#UDS support
CONFIG_UNIX=y
#9p/virtio is qemu filesharing approach
CONFIG_NET_9P=y
CONFIG_NET_9P_VIRTIO=y
CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI_LIB=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_PCI_LEGACY=y
CONFIG_FS_POSIX_ACL=y
CONFIG_9P_FS=y
CONFIG_9P_FS_POSIX_ACL=y
CONFIG_9P_FS_SECURITY=n
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_MENU=y

#userspace IO support
CONFIG_UIO=y
#/dev/mem support
CONFIG_DEVMEM=y
CONFIG_IO_STRICT_DEVMEM=n
CONFIG_STRICT_DEVMEM=y

#qemu console with nographics
CONFIG_TTY=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_DEPRECATED_OPTIONS=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_NULL_TTY=y
#buses
CONFIG_CAN=y
CONFIG_PCI=y
CONFIG_I2C=y
CONFIG_I2C_SLAVE=y
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_SPI=y
CONFIG_SPI_MASTER=y
CONFIG_SPI_SLAVE=y
CONFIG_SPI_MEM=y
CONFIG_GPIOLIB=y
CONFIG_GPIO_SYSFS=y
CONFIG_GPIO_MOCKUP=m
CONFIG_USB_SUPPORT=y
CONFIG_USB_COMMON=y
CONFIG_USB_ARCH_HAS_HCD=y
CONFIG_USB=y
CONFIG_USB_PCI=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_PCI=y
CONFIG_USB_XHCI_PLATFORM=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_TT_NEWSCHED=y
CONFIG_USB_EHCI_PCI=y
CONFIG_USB_EHCI_HCD_PLATFORM=y
CONFIG_USB_OHCI_HCD=y
CONFIG_USB_OHCI_HCD_PCI=y
CONFIG_USB_OHCI_HCD_PLATFORM=y
CONFIG_USB_UHCI_HCD=y
CONFIG_USB_ACM=y
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_CONSOLE=y
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_CP210X=y
CONFIG_USB_SERIAL_FTDI_SIO=y
CONFIG_CONFIGFS_FS=m
CONFIG_USB_GADGET=y
CONFIG_USB_F_ACM=m
CONFIG_USB_F_OBEX=m
CONFIG_USB_F_SERIAL=m
CONFIG_USB_GADGETFS=m
CONFIG_USB_G_SERIAL=m
CONFIG_USB_LIBCOMPOSITE=m
CONFIG_USB_RAW_GADGET=m
CONFIG_USB_U_SERIAL=m

#META filesystems
CONFIG_PROC_FS=y
CONFIG_PROC_KCORE=y
CONFIG_PROC_VMCORE=y
CONFIG_PROC_SYSCTL=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_PROC_CHILDREN=y
CONFIG_PROC_PID_ARCH_STATUS=y
CONFIG_KERNFS=y
CONFIG_SYSFS=y
CONFIG_NETWORK_FILESYSTEMS=y
#logging
CONFIG_CONSOLE_LOGLEVEL_DEFAULT=10
CONFIG_CONSOLE_LOGLEVEL_QUIET=4
CONFIG_MESSAGE_LOGLEVEL_DEFAULT=5
CONFIG_X86_VERBOSE_BOOTUP=y
CONFIG_DEBUG_ENTRY=y
CONFIG_EARLY_PRINTK=y
CONFIG_PRINTK_TIME=y
CONFIG_SYMBOLIC_ERRNAME=y

#sample modules
CONFIG_SAMPLES=y
CONFIG_SAMPLE_HW_BREAKPOINT=m
CONFIG_SAMPLE_KFIFO=m
CONFIG_SAMPLE_KOBJECT=m
CONFIG_SAMPLE_KPROBES=m
CONFIG_SAMPLE_KRETPROBES=m
