menuconfig YALDA_KERNEL_BUILD
  bool "Kernel"
  default y
  help
    Build kernel

if YALDA_KERNEL_BUILD

config YALDA_KERNEL_DIR
  string "Work directory"
  default "./components/kernel"
  help
    Path to the kernel source tree

choice
  prompt "Kernel source"
  help
    Source of kernel tree (host | git | directory )

config YALDA_KERNEL_FROM_HOST
  bool "host"
  depends on YALDA_ARCH_X86
  select YALDA_KERNEL_CONFIGURE

config YALDA_KERNEL_FROM_GIT
  bool "git"
  select YALDA_KERNEL_CONFIGURE

config YALDA_KERNEL_FROM_DIR
  bool "dir"

endchoice

#TODO default?
if YALDA_KERNEL_FROM_HOST
config YALDA_KERNEL_VMLINUX_PATH
  string "vmlinux"
  help
    vmlinux file path
endif #YALDA_KERNEL_FROM_HOST

if !YALDA_KERNEL_FROM_HOST

config YALDA_KERNEL_VERSION
  string "version"
  depends on YALDA_KERNEL_FROM_GIT
  default "last"
  help
    Required kernel version (host | last | <version>)

config YALDA_KERNEL_CONFIGURE
  bool "configure"
  default y
  help
    Perform kernel configure

choice
  prompt "method"
  depends on YALDA_KERNEL_CONFIGURE
  help
    Kernel configuration methos (defconfig file | .config file)

config YALDA_KERNEL_DEFCONFIG
  bool "defconfig"

config YALDA_KERNEL_MANUAL_CONFIG
  bool "manual"

endchoice

config YALDA_KERNEL_CONFIG_PATH
  string "config"
  default "./config/kernel/kernel.config.last"
  depends on YALDA_KERNEL_MANUAL_CONFIG
  help
    .config file path

config YALDA_KERNEL_DEFCONFIG_PATH
  string "defconfig"
  default "tinyconfig"
  depends on YALDA_KERNEL_DEFCONFIG && ! YALDA_KERNEL_MANUAL_CONFIG
  help
    Defconfig name

config YALDA_KERNEL_PATCH
  bool "patch"
  default y
  help
    Apply kernel patches

config YALDA_KERNEL_PATCHES_DIR
  string "patches dir"
  depends on YALDA_KERNEL_PATCH
  default "./patches/kernel"
  help
    Directory with patches and series file

endif #YALDA_KERNEL_FROM_HOST
endif #YALDA_KERNEL_BUILD
