menuconfig YALDA_BUSYBOX_BUILD
  bool "Busybox"
  default y
  help
    Build busybox

if YALDA_BUSYBOX_BUILD

config YALDA_BUSYBOX_DIR
  string "Work directory"
  default "./components/busybox"
  help
    Path to Busybox source tree

choice
  prompt "Source"
  help
    Source of busybox tree (git | directory)

config YALDA_BUSYBOX_FROM_GIT
  bool "git"
  help
    If YALDA_BUSYBOX_DIR is empty the system will put sources there

config YALDA_BUSYBOX_FROM_DIR
  bool "dir"
  help
    The system will expect sources in YALDA_BUSYBOX_DIR

endchoice

config YALDA_BUSYBOX_CONFIG
  string "defconfig"
  default "./config/busybox/busybox.config"
  help
    Busybox defconfig file path

config YALDA_BUSYBOX_PATCH
  bool "Patch"
  default y
  help
    Apply busybox patches

config YALDA_BUSYBOX_PATCHES_DIR
  string "directory"
  default "./patches/busybox"
  depends on YALDA_BUSYBOX_PATCH
  help
    Path to directory with patches and series file

endif #YALDA_BUSYBOX_BUILD
