menu "gdb"

config YALDA_GDB_SCRIPT
  string "script"
  default "./scripts/kernel_gdb_script"

config YALDA_GDB_VMLINUX_DIR
  string "vmlinux dir"
  default YALDA_KERNEL_DIR

config YALDA_GDB_PARAMETERS
  string "gdb params"
  default "-tui -nx -iex set auto-load safe-path /"

endmenu

