menu "qemu"

config YALDA_QEMU_MEM
  string "memory (GB)"
  default "2"

config YALDA_QEMU_KERNEL_CMDLINE
  string "kernel cmdline"
  default "rdinit=/sbin/init rw earlyprintk loglevel=8 console=ttyAMA0" if YALDA_ARCH_X86_64
  default "nokaslr, console=ttyS0" if YALDA_ARCH_ARM

endmenu

