menu "rootfs"

config YALDA_ROOTFS_BUILD
  bool "build"
  default y
  help
    build rootfs initrd image

config YALDA_ROOTFS_OUT
  string "output file"
  depends on YALDA_ROOTFS_BUILD
  default "./initrd.cpio.gz"

config YALDA_ROOTFS_DIR
  string "rootfs dir"
  depends on YALDA_ROOTFS_BUILD
  default "./components/rootfs"

config YALDA_ROOTFS_ADDITIONAL
  string "additional rootfs dir"
  default ""
  depends on YALDA_ROOTFS_BUILD
  help
    additional rootfs configs, binaries etc

endmenu

